{% extends "./base_sidebar.html" %}

{% block title %} {{ title|safe}} {% endblock %}

{% block content %}


<div class="row"> 
        <div class="col-md-6">
    
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title"> PTSD clinical characteristics</div>
                    <p> Symptoms: Post-traumatic stress disorder symptoms may start within one month of a traumatic event, but sometimes symptoms may not appear until years after the event. These symptoms cause significant problems in social or work situations and in relationships. They can also interfere with your ability to go about your normal daily tasks.

PTSD symptoms are generally grouped into four types: intrusive memories, avoidance, negative changes in thinking and mood, and changes in physical and emotional reactions. Symptoms can vary over time or vary from person to person.</p>
                    <p> Intrusive memories</p>
                    <p> Avoidance</p>
                    <p> Negative changes in thinking and mood</p>
                    <p> Changes in physical and emotional reactions</p>
                    
                </div>
                <div class="panel-body">
                    <p> </p>
                        
                </div>       
            </div>

            <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"> Biological system alteration at PTSD </div>
                    </div>
                    <div class="panel-body">
                        <p> </p>
                            
                    </div>       
            </div>
    
    
        </div>
            
        <div class="col-md-6">
            <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"> Screening for Posttraumatic Stress Disorder (PTSD) </div>
                    </div>
                    <div class="panel-body">
                        <p> </p>
                            
                    </div>       
                </div>

            <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title"> Online Search</div>
                    </div>
                    <div class="panel-body">
                        <p> </p>
                            
                    </div>       
                </div>            
                        
        </div>       
    
    </div>

{% endblock %}




